<div class="container">
	<h1>Bot Commands</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Command</th>
				<th scope="col">Aliases</th>
				<th scope="col">Response</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{{#each commands}}
				<tr>
					<th scope="row"><a href="/settings/commands/{{_id}}">{{command}}</a></th>
					<td>{{#each aliases}}<span class="badge badge-secondary">{{this}}</span>{{/each}}</td>
					<td>{{response}}</td>
					<td></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>