services:
  mongo:
    ports:
      - ${MONGO_EXTERNAL_PORT:-27017}:27017
    networks:
      - int
      - ext
    volumes:
      - ./docker-entrypoint-initdb.d/db-init.dev.js:/docker-entrypoint-initdb.d/db-init.dev.js:ro

  mongo-express:
    ports:
      - ${MONGO_EXPRESS_PORT:-8081}:8081

  api-server:
    ports:
      - ${API_SERVER_EXTERNAL_PORT:-3001}:3001
    volumes:
      - ./api:/app/api
      - ./libs:/app/libs
      - /app/api/node_modules

  discord-bot:
    ports:
      - ${DISCORD_HEALTH_PORT:-3010}:${DISCORD_HEALTH_PORT:-3010}
    volumes:
      - ./discord:/app/discord
      - ./libs:/app/libs
      - /app/discord/node_modules

  twitch-bot:
    ports:
      - ${TWITCH_HEALTH_PORT:-3011}:${TWITCH_HEALTH_PORT:-3011}
    volumes:
      - ./twitch:/app/twitch
      - ./libs:/app/libs
      - /app/twitch/node_modules

  runnerwatcher:
    ports:
      - ${TWITCH_WEBHOOK_LISTENER_PORT:-3002}:3002
    volumes:
      - ./runnerwatcher:/app/runnerwatcher
      - ./libs:/app/libs
      - /app/runnerwatcher/node_modules

  racebot:
    ports:
      - ${RACEBOT_HEALTH_PORT:-3012}:${RACEBOT_HEALTH_PORT:-3012}
    volumes:
      - ./racebot:/app/racebot
      - ./libs:/app/libs
      - /app/racebot/node_modules

  ws-relay:
    ports:
      - ${WEBSOCKET_RELAY_SERVER_PORT:-3003}:${WEBSOCKET_RELAY_SERVER_PORT:-3003}
    volumes:
      - ./ws-relay:/app/ws-relay
      - ./libs:/app/libs
      - /app/ws-relay/node_modules
