<div class="container">
	<ul class="nav nav-pills" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="discord-tab" data-toggle="tab" href="#discord" role="tab" aria-controls="discord" aria-selected="true">Discord Pings</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="raceDefaults-tab" data-toggle="tab" href="#raceDefaults" role="tab" aria-controls="raceDefaults" aria-selected="false">Race Defaults</a>
	  </li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane active" id="discord" role="tabpanel" aria-labelledby="discord-tab">
	  	
	  </div>
	  <div class="tab-pane" id="raceDefaults" role="tabpanel" aria-labelledby="raceDefaults-tab">
	  	
	  </div>
	</div>
</div>