<h1>Command List</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Command</th>
      <th width="75%">Response</th>
    </tr>
  </thead>
  <tbody>
    {{#each commands}}
      <tr>
        <td><strong><code>{{command}}</code></strong><br />{{#each
            aliases
          }}<span class="badge badge-secondary">{{this}}</span>{{/each}}</td>
        <td>{{{response}}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>