<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Commentator</th>
				<th>Sessions</th>
			</tr>
		</thead>
		<tbody>
			{{#each people}}
				<tr>
					<td>{{math @index "+" 1}}</td>
					<td>{{_id}}</td>
					<td>{{sessions}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>	
</div>